#gradle
/.gradle

#IDE
.idea

#build
/build

#configuration
/config

#logging files
/src/main/logs

#properties file
/src/main/resources/datasource.properties
/src/main/resources/application-mysql.properties
/src/main/resources/application.properties
/local.properties
